.home-page {
    header {
        .content {
            background: url('/assets/backgrounds/primary-bg.jpg');
        }

        nav .home-link {
            text-decoration: underline;
        }
    }
    
    .hello-section {
        background-image: url('/assets/backgrounds/hello-world-bg.jpg');
        background-repeat: no-repeat;
        background-position: right;

        .content {
            width: 700px;
            margin-top: .5rem;

            .paragraph {
                margin-top: 1rem;
            }

            a {
                margin-top: 1rem;
                color: #0A5797;
                display: block;
            }
        }
    }
    
    .skills-section {
        height: 346px;
        margin-top: 4rem;
        background-image: url('/assets/backgrounds/skills-bg.jpg');
        background-repeat: no-repeat;
        background-position: 0 18px;

        .content {
            width: 100%;
            display: flex;
            justify-content: space-around;

            .skill {
                width: 22%;
                border: solid 1px black;
                border-radius: 5px;
                padding: 1rem;

                .title {
                    text-align: center;

                    h4 {
                        font-family: 'Hammersmith One';
                        color: #0A5797;
                    }
                }

                .description li {
                    list-style-type: none;
                    text-align: center;
                    margin-top: 1rem;
                }
            }
        }
    }
}