.home-page {
    
    header {
        .flex-wrapper {
            display: grid;
            grid-template-columns: 101px 9fr;
            column-gap: 1rem;
            height: 100%;

            .content {
                width: calc(100% - (111px));
                height: calc(100% - 3rem);
                background: url('/assets/backgrounds/primary-bg.jpg');
                
                .links {
                    display: flex;
                    justify-content: center;
                    margin-top: 8%;

                    img {
                        width: 2rem;
                    }

                    .separator {
                        width: 7rem;
                        height: 1px;
                        background: #EBEBEB;
                        margin: 0 2rem;
                        align-self: center;
                    }
                }
            }
        }

        h1 {
            margin-bottom: 1rem;
            letter-spacing: 10px;
            font-size: 2.5rem;
        }

        h2 {
            padding-top: 15%;

            span {
                display: block;
                text-align: center;
            }            
        }

        & > img {
            position: absolute;
            bottom: -7rem;
            right: 0;
        }

        nav {
            position: absolute;
            right: calc(111px);
            bottom: -3rem;

            a {
                text-decoration: none;

                &:not(:last-child) {
                    margin-right: 2rem;
                }

                &.current {
                    text-decoration: underline;
                }
            }
        }
    }
    
    .hello-section {
        background-image: url('/assets/backgrounds/hello-world-bg.jpg');
        background-repeat: no-repeat;
        background-position: right;

        .content {
            width: 700px;
            margin-top: 1.5rem;

            .paragraph:last-child {
                margin-top: 1rem;
            }
        }
    }
    
    .skills-section {
        height: 346px;
        margin-top: 4rem;
        background-image: url('/assets/backgrounds/skills-bg.jpg');
        background-repeat: no-repeat;
        background-position: 0 18px;

        .content {
            width: 100%;
            display: flex;
            justify-content: space-around;

            .skill {
                width: 22%;
                border: solid 1px black;
                border-radius: 5px;
                padding: 1rem;

                .title {
                    text-align: center;

                    h4 {
                        font-family: 'Hammersmith One';
                        color: #0A5797;
                    }
                }

                .description li {
                    list-style-type: none;
                    text-align: center;
                    margin-top: 1rem;
                }
            }
        }
    }
    
    footer {
        margin-top: 4rem;
        background: #202020;
        text-align: center;
        padding: 2rem;
    }
}