@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Oxygen+Mono&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'Oxygen Mono';
    color: #202020;
}

.white {
    color: #EBEBEB;
}

body {
    width: 100%;
    min-height: 100vh;
}

h1,
h2,
h3 {
    font-family: 'Hammersmith One';
}

header,
section {
    max-width: 1200px;
    margin: 0 auto;
}

section {
    max-width: 988px;

    h3 {
        font-size: 2rem;
    }
}

header {
    position: relative;
    padding-top: 2rem;
    margin-bottom: 12rem;
    height: 686px;
}

footer {
    margin-top: 4rem;
    background: #202020;
    padding: 2rem;
    text-align: center;

    &>div {
        margin-bottom: 2rem;
    }
}

@import 'atoms/header';
@import 'atoms/home';
@import 'atoms/resume';
@import 'atoms/contact';

@media all and (max-width: 989px) {
    section {
        padding: 0 1rem;
        background-image: none !important;
    }
}
