<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Martin Déclert - Développeur web Back-end</title>
    <link rel="stylesheet" href="skin/css/main.css">
</head>

<body class="<%- template %>-page">
    <%- include('pages/' + template) -%>
    <%- include('pages/parts/footer') -%>
</body>

</html>
