<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Martin Déclert - Développeur web Back-end</title>
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
    <header>
        <div class="flex-wrapper">
            <div class="left">
                <img src="assets/icons/logo.svg" alt="DEC logo">
            </div>
            <div class="right">
                <h1>Martin Déclert</h1>
                <div class="content">
                    <h2>
                        <span class="white">Développement Web Back-end</span>
                        <span class="white">PHP - Node.js</span>
                    </h2>
                    <div class="links">
                        <a href="#gitlab">
                            <img src="assets/icons/gitlab.svg" alt="gitlab">
                        </a>
                        <span class="separator"></span>
                        <a href="#linkedin">
                            <img src="assets/icons/linkedin.svg" alt="linkedin">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <img src="assets/icons/secondary-logo.svg" alt="">
        <nav>
            <a href="#home" class="selected">home</a>
            <a href="#projects">projects</a>
            <a href="#resume">resume</a>
            <a href="#contact">contact</a>
        </nav>
    </header>
    <section class="hello-section">
        <h3>Hello World!</h3>
        <div class="content">
            <div class="paragraph">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean volutpat porta justo, in aliquam justo viverra vel. 
                In hac habitasse platea dictumst. Etiam et purus libero. Curabitur eget metus ex. Orci varius natoque penatibus et 
                magnis dis parturient montes, nascetur ridiculus mus. Sed porta, nisl tincidunt lacinia egestas, massa nunc tincidunt 
                libero, et dignissim neque neque ac metus.
            </div>
            <div class="paragraph">
                Suspendisse potenti. Curabitur at elit sit amet augue suscipit vehicula. 
                Mauris vitae vulputate neque. Aenean nec venenatis lacus. Aliquam tempus augue non augue aliquam tempus. Etiam fermentum 
                felis sit amet nulla scelerisque, ut fermentum nulla semper.
            </div>
        </div>
    </section>
    <section class="skills-section">
        <h3>Skills</h3>
        <div class="skill">
            <img src="assets/icons/html.svg" alt="HTML">
            <h4>HTML/CSS</h4>
            <ul class="description">
                <li>Intégration web</li>
                <li>SEO</li>
            </ul>
        </div>
        <div class="skill">
            <img src="assets/icons/javascript.svg" alt="JavaScript">
            <h4>JavaScript</h4>
            <ul class="description">
                <li>développement front-end</li>
                <li>Vanilla - jQuery</li>
            </ul>
        </div>
        <div class="skill">
            <img src="assets/icons/backend.svg" alt="Back-end">
            <h4>Back-end</h4>
            <ul class="description">
                <li>
                    <span>PHP</span>
                    <span>Magento 1.9 / Laravel</span>
                </li>
                <li>
                    <span>Node.js</span>
                    <span>Express / Adonis</span>
                </li>
            </ul>
        </div>
        <div class="skill">
            <img src="assets/icons/administration.svg" alt="Administration">
            <h4>Administration</h4>
            <ul class="description">
                <li>Linux Git Docker</li>
                <li>Apache2 NGINX</li>
            </ul>
        </div>
    </section>
    <footer>
        <span>Copyright - Martin Déclert - 2020</span>
    </footer>
</body>
</html>