<header>
    <div class="flex-wrapper">
        <div class="left">
            <a href="/">
                <img src="assets/icons/logo.svg" alt="DEC logo">
            </a>
        </div>
        <div class="right">
            <h1>Martin Déclert</h1>
            <div class="content">
                <h2 class="white">Contact</h2>
                <form action="#" id="email-form">
                    <div class="input-wrapper">
                        <div class="left">
                            <div class="input">
                                <label for="email" class="white">Email</label>
                                <input type="email" name="email" id="email" placeholder="example@email.com">
                            </div>
                            <div class="input">
                                <label for="user_name" class="white">Nom complet</label>
                                <input type="text" name="fullName" id="fullName" placeholder="John Doe">
                            </div>
                            <div class="input">
                                <label for="object" class="white">Objet</label>
                                <input type="text" name="object" id="object" placeholder="Objet">
                            </div>
                        </div>
                        <div class="right">
                            <label for="message" class="white">Message</label>
                            <textarea name="message" id="message" placeholder="Votre message..."></textarea>
                        </div>
                    </div>
                    <input type="submit" value="Envoyer">
                </form>
                <div class="social">
                    <h2 class="white">Social</h2>
                    <div class="networks">
                        <a href="https://gitlab.com/users/mdeclert/projects" target="_blank">
                            <img src="assets/icons/gitlab.svg" alt="gitlab">
                        </a>
                        <a href="https://www.linkedin.com/in/martin-d%C3%A9clert/" target="_blank">
                            <img src="assets/icons/linkedin.svg" alt="linkedin">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="assets/icons/secondary-logo.svg" alt="">
    <nav>
        <a href="/" class="home-link">home</a>
        <a href="/resume" class="resume-link">resume</a>
        <a href="/contact" class="contact-link">contact</a>
    </nav>
</header>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
<script type="text/javascript">
    (function() {
        emailjs.init("user_oVdNNyEw74xdbaMoyHmmG");
    })();
</script>
<script type="module">
    const form = document.querySelector('#email-form')

    const displayToast = (text, success) => {
        const className = success ? 'toast-success' : 'toast-error'
        const toast = document.createElement('div')
        toast.innerText = text
        toast.classList.add('toast')
        toast.classList.add(className)
        document.body.appendChild(toast)

        setTimeout(() => {
            document.body.removeChild(toast)
        }, 2000)
    }

    form.addEventListener('submit', function (event) {
        event.preventDefault()

        event.target.querySelector('input[type="submit"]').value = 'Envoi en cours...'
        emailjs.sendForm('service_imbe9xu', 'contact_form', this, 'user_oVdNNyEw74xdbaMoyHmmG')
            .then(response => {
                if (response.text === 'OK')
                    return true
                else
                    throw new Error()
            })
            .then(success => {
                form.reset()
                displayToast('Email envoyé avec succès', success)
            })
            .catch(error => displayToast('Une erreur est survenue pendant l\'envoi du mail', false))
            .finally(() => event.target.querySelector('input[type="submit"]').value = 'Envoyer')
    })
</script>
