<header>
    <div class="flex-wrapper">
        <div class="left">
            <a href="/">
                <img src="assets/icons/logo.svg" alt="DEC logo">
            </a>
        </div>
        <div class="right">
            <h1>Martin Déclert</h1>
            <div class="content">
                <h2 class="white">Contact</h2>
                <a href="mailto:mdeclert.dev@gmail.com">
                    <img src="assets/icons/send.svg" alt="send mail">
                </a>
                <div class="social">
                    <h2 class="white">Social</h2>
                    <div class="networks">
                        <a href="#gitlab">
                            <img src="assets/icons/gitlab.svg" alt="gitlab">
                        </a>
                        <a href="#linkedin">
                            <img src="assets/icons/linkedin.svg" alt="linkedin">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="assets/icons/secondary-logo.svg" alt="">
    <nav>
        <a href="/" class="home-link">home</a>
        <a href="/resume" class="resume-link">resume</a>
        <a href="#contact" class="conatct-link">contact</a>
    </nav>
</header>
