<header>
    <%- include('parts/header', {
        upperTitle: 'Développeur Web',
        downTitle: 'Spécialisé Back-end'
    }) -%>
</header>
<section class="hello-section">
    <h3>Hello World!</h3>
    <div class="content">
        <div class="paragraph">
            Bonjour, je suis Martin Déclert, développeur web spécialisé back-end. Je <a href="/resume#pro-section">suis alternant</a> dans la start-up Horace,
            où je m'occupe de la maintenance du site e-commerce (Magento 1.9) et d'une application interne en Vue.js.<br>
        </div>
        <div class="paragraph">
            Je suis aussi à la recherche d'une entreprise dans laquelle je puisse continuer d'apprendre au mieux la vie en entreprise :)
        </div>
        <div class="paragraph">
            Grâce à <a href="/resume#school-section">mes études</a>, j'ai pu apprendre et consolider
            mes connaissances du web. J'ai par exemple pu apprendre à créer des CRUD, aussi bien en back-end avec Express.js ou Laravel
            qu'en front-end avec React.js.<br>
            Je profite aussi de mon temps libre pour continuer d'apprendre à utiliser des technologies telles que Docker, Adonis.js
            ou Vue.js, ainsi que des bonnes pratiques d'une manière générale.
        </div>
    </div>
</section>
<section class="skills-section">
    <h3>Skills</h3>
    <div class="content">
        <div class="skill">
            <div class="title">
                <img src="assets/icons/html.svg" alt="HTML">
                <h4>HTML/CSS</h4>
            </div>
            <ul class="description">
                <li>Intégration de maquette</li>
            </ul>
        </div>
        <div class="skill">
            <div class="title">
                <img src="assets/icons/javascript.svg" alt="JavaScript">
                <h4>JavaScript</h4>
            </div>
            <ul class="description">
                <li>Vanilla</li>
                <li>Vue.js (bases)</li>
            </ul>
        </div>
        <div class="skill">
            <div class="title">
                <img src="assets/icons/backend.svg" alt="Back-end">
                <h4>Back-end</h4>
            </div>
            <ul class="description">
                <li>
                    <span>PHP</span><br>
                    <span>Magento 1.9 / Slim</span>
                </li>
                <li>
                    <span>Node.js</span><br>
                    <span>Adonis (bases)</span>
                </li>
            </ul>
        </div>
        <div class="skill">
            <div class="title">
                <img src="assets/icons/administration.svg" alt="Administration">
                <h4>Administration</h4>
            </div>
            <ul class="description">
                <li>Linux Git Docker</li>
                <li>Apache2 NGINX</li>
            </ul>
        </div>
    </div>
</section>
