<header>
    <%- include('parts/header', {
        upperTitle: 'Développeur Web',
        downTitle: 'Spécialisé Back-end'
    }) -%>
</header>
<section class="hello-section">
    <h3>Hello World!</h3>
    <div class="content">
        <div class="paragraph">
            Bonjour, je suis Martin Déclert, développeur web spécialisé back-end. Je suis pour l'instant en alternance
            dans la startup Horace, où je m'occupe de la maintenance du site e-commerce (Magento 1.9) et de la création
            de nouvelle fonctionnalité.

        </div>
        <div class="paragraph">
            Grâce à mes études (DUT MMI, Bachelor web à Hetic puis Master à l'ECV Digital), j'ai pu apprendre et consolider
            mes connaissances du web. J'ai par exemple pu apprendre à utiliser le framework front-end Vue.js, mais principalement
            des technologies back-end comme Laravel avec PHP ou Express avec Node.js.<br>
            Je profite aussi de mon temps libre pour continuer d'apprendre, notamment Docker, Adonis.js, Slim et les serveurs web
            NGINX et Apache2.
        </div>
    </div>
</section>
<section class="skills-section">
    <h3>Skills</h3>
    <div class="content">
        <div class="skill">
            <div class="title">
                <img src="assets/icons/html.svg" alt="HTML">
                <h4>HTML/CSS</h4>
            </div>
            <ul class="description">
                <li>Intégration de maquette</li>
            </ul>
        </div>
        <div class="skill">
            <div class="title">
                <img src="assets/icons/javascript.svg" alt="JavaScript">
                <h4>JavaScript</h4>
            </div>
            <ul class="description">
                <li>Vanilla</li>
                <li>Vue.js</li>
            </ul>
        </div>
        <div class="skill">
            <div class="title">
                <img src="assets/icons/backend.svg" alt="Back-end">
                <h4>Back-end</h4>
            </div>
            <ul class="description">
                <li>
                    <span>PHP</span><br>
                    <span>Magento 1.9 / Laravel / Slim</span>
                </li>
                <li>
                    <span>Node.js</span><br>
                    <span>Express / Adonis</span>
                </li>
            </ul>
        </div>
        <div class="skill">
            <div class="title">
                <img src="assets/icons/administration.svg" alt="Administration">
                <h4>Administration</h4>
            </div>
            <ul class="description">
                <li>Linux Git Docker</li>
                <li>Apache2 NGINX</li>
            </ul>
        </div>
    </div>
</section>
