<header>
    <%- include('parts/header', {
        upperTitle: 'Curriculum Vitae',
        downTitle: 'Parcours scolaire et professionel'
    }) -%>
</header>
<section id="pro-section">
    <h3>Parcours professionel</h3>
    <div class="content">
        <div class="experience">
            <div class="title">
                <div class="period">Janvier 2019 - Aujourd’hui :</div>
                <div class="entreprise">Alternant développeur Back-end chez Horace</div>
            </div>
            <div class="description">
                <p>
                    Ma mission consiste principalement à implémenter de nouvelles fonctionnalités au site e-commerce, avec le framework Magento 1.9.<br>
                    Je m’occupe aussi de mettre en place des environnements de test à l’aide de Docker et Gitlab-ci.<br>
                    Je suis aussi chargé d’améliorer une application interne avec Vue.js et PHP.
                </p>
            </div>
        </div>
        <div class="experience">
            <div class="title">
                <div class="period">Septembre 2018 - Novembre 2018 :</div>
                <div class="entreprise">Alternant développeur Full stack à Azerrisk Advantage</div>
            </div>
            <div class="description">
                <p>
                    Mon but était de développer les différentes applications de la société à l’aide de Node.js pour le back-end et Angular.js pour le Front-end.
                    J’ai malheureusement dû arréter mon contrat plus tôt que prévu, principalement car je n’avais pas de tuteur.
                </p>
            </div>
        </div>
        <div class="experience">
            <div class="title">
                <div class="period">Avril 2018 - Août 2018 :</div>
                <div class="entreprise">Stagiaire développeur Wordpress à BeeMedias</div>
            </div>
            <div class="description">
                <p>
                    Je m’occupais d’implémenter de nouveaux modules aux différents site de l’entreprise, ainsi que d’intégrer les maquettes graphiques en HTML5 et CSS3.
                </p>
            </div>
        </div>
    </div>
</section>
<section id="school-section">
    <h3>Parcours scolaire</h3>
    <div class="content">
        <div class="school">
            <div class="period">Septembre 2019 - Juillet 2021 :</div>
            <div class="description">Master Développement web à l’ECV Digital</div>
        </div>
        <div class="school">
            <div class="period">Septembre 2018 - Septembre 2019 :</div>
            <div class="description">3eme année Bachelor Concepteur et développeur de solutions digitales à Hetic</div>
        </div>
        <div class="school">
            <div class="period">Septembre 2016 - Juillet 2018 :</div>
            <div class="description">DUT Métiers du Multimédia et de l’Internet à l’IUT de Champs sur Marne</div>
        </div>
    </div>
</section>
