<footer>
    <div>
        <div class="white">Copyright - Martin Déclert - 2021</div>
        <div class="white">fait avec ♥ en Node.js - propulsé par Digital Ocean à l'aide de NGINX</div>
    </div>
    <a href="https://gitlab.com/mdeclert/mdeclert.fr" target="_blank">
        <img src="assets/icons/gitlab.svg" alt="gitlab">
    </a>
</footer>
